html,body { font-size: 100%; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 1.2rem; margin: 20px; text-align: center;}
:focus {outline: 0;}
.beerme, .deleteme, #addPerson, #sendList, #resetList {
  cursor: pointer; 
}
#addPerson:hover, #sendList:hover, #resetList:hover {
  text-decoration: underline; 
}

header h1 {
  margin-top: 0;
}

footer {
  margin-top: 40px;
}

.thead {
  font-size: 1.2rem;
}

#drinkers {
  margin-top: 20px;
}

#total {
  text-align: center;
  font-style: italic;
}

.button {
  display: inline-block;
  padding: 20px;
  background-color: #c0ffee;
  margin-bottom: 10px;
}

#sendList {
  margin-bottom: 20px;
}

.Grid {
  display: -webkit-flex;
  display: flex;
}
.Grid:nth-child(even) {
  background-color: #DFFDFC;
}
.Grid-cell {
  -webkit-flex: 1;
  flex: 1;
  display: inline-block;
  min-height: 30px;
  line-height: 30px;
}

.name {
  text-align: left;
}

.beer {
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
}
.add {
  -webkit-flex: 0 0 15%;
  flex: 0 0 15%;
}
.delete {
  -webkit-flex: 0 0 15%;
  flex: 0 0 15%;
}

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.Grid--top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.Grid--bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.Grid--center {
  -webkit-align-items: center;
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.Grid-cell--bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.Grid-cell--center {
  -webkit-align-self: center;
  align-self: center;
}
